	<!--style="background-image: url('assets/bg-registration-form-2.jpg');"-->
  
    <div class="row justify-content-lg-center">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-12">
     <div class="card">
      <div class="card-header">
        <h1  class="text-center">ABOUT</h1>
      </div>
      <div class="card-body">
        <p>The best clothing brands ever for men come in a range of price points and styles, voted on by thousands of stylish, dapper, well-dressed men. Men don't often shop, so when they do it's important to have a game plan and an understanding of which men's clothing designers make clothes that will look good on you. From high-end clothing manufacturers like Gucci and Armani to more mainstream brands like Nike and Diesel, there are many choices when shopping for men's clothing. Browse the list below and vote up the best brands to help decide the top 10 and beyond of men's wear. Vote for the trendiest brands here. Don't forget to dress your feet with these monthly socks subscription boxes.
        When it comes to men's clothing, there are lots of great fashion lines, making excellent looks for guys everywhere. Men's clothing stores produce a wide range of classy, stylish shirts, pants, suits, and accessories for fashion forward men. Trending fashion lines are truly tuned in to what is and is not popular in terms of style, and big clothing line names are often renown for good reason. These popular men's clothing brands offer a range of styles, from dapper to casual, and their designs are sure to make any dude look awesome. 
        What are the best clothing brands for men in the world? What cool clothing brands for guys make you want to go out on a shopping spree? What top men's clothing brands make the best looking clothes? This list of popular clothing brands for men will introduce you to new men's clothing labels for men and the most popular designers for men.  Help decide on the hottest men's clothing brands below. Vote on your favorite men's fashion brands below and add any good mens clothing brands that might have been left off. </p>
      </div>
</div>
 </div>
 </div>