	<!--style="background-image: url('assets/bg-registration-form-2.jpg');"-->
  <div class="wrapper" >
			<div class="inner">
				<div>
					<h3>Profile</h3>
						 <div class="form-wrapper">
                <label for="name">Name :{{user.name}}</label>
              </div>
              <div class="form-wrapper">
                <label for="username">Username : {{user.username}}</label>
              </div>
            	<div class="form-wrapper">
							<label for="username">Email : {{user.email}}</label>
			       </div>
           	</div>
      </div>
      </div>